@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: black;
}

.display-flex{
    display: flex;
}
/* Header Part Style here ..... */

header{
    font-family: Inter;
    max-width: 1540px;
    margin:0px 120px;
}

.header-container{
    background: transparent;
    display: flex;
    max-width: auto;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}


.header-container>nav>ul{
    display: flex;
    flex-direction: row;
    width: 600px;
    gap: 50px;
    justify-content: end;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.header-container li{
    color: rgb(255, 255, 255);
    list-style: none;
    font-size: 1.5rem;
    margin-right: 21px;
}
.header-container i{
    display: none;
    
}
.header-container h1{
    font-family: Inter;
    font-size: 3.5rem;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.btn-primary{
    color: #fff;
    background: rgb(230, 83, 60);
    width: 130px;
    height: 50px;
    font: 400;
    font-size: 1.8rem;
    border-radius: 40px;
    border-color:#333;
    box-shadow:transparent;
}

.btn-primary:hover{
    color: #fff;
    background: slategrey;
}


@media screen and (max-width:576px) {
    .header-container nav{
        display: none;
    }
    .header-container{
        width: 100%;
        margin-left: -120px;
    }
    .header-container i{
        color: #fff;
        align-items: center;
    }
    header{
        width: 100%;
    }
}


main{
    display: flex;
    flex-direction: column;
}

/* Get Body Part Start Here.. */
.get-body-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.get-body{
    margin-left: 120px;
    margin-top: 90px;
    width: 600px;
    height: 530px;
}

.get-body h1{
    font-size: 5rem;
    margin-top: 0px;
    font-family: Inter;
    color: rgb(255, 255, 255);
}
.get-body p{
    font-family: Inter;
    color: rgba(255, 255, 255, 0.5);
    font:400;
    font-size: 1.2rem;
    margin-top: -60px;
}

.btn-1{
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    font: 800;
    font-size: 2rem;
    border-radius: 40px;
    width: 250px;
    height: 60px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.btn-2{
    background: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
}

.btn-2:hover{
    background: slategrey;
}

.btn-1:hover{
    background: slategrey;
}

.get-body h1>span{
    font-size: 120px;
    font-family: "Sacramento", cursive;
    font-weight: 900;
   
}

/* Cart 1 & 2 part started here */
.cart-1{
    position: absolute;
    top: 250px;
    right: 120px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}
.cart-1 h2{
    font-family: Inter;
    font: 600;
    font-size: 1.8rem;
    text-align: center;
    color: rgb(250, 250, 249);
    background: transparent;
    margin-top: 20px;
}

.cart-1 p{
    font-family: Inter;
    font: 200;
    font-size: 1rem;
    text-align: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.65);
    margin-top: -20px;
}
.cart-2{
    position: absolute;
    top: 520px;
    right: 450px;
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.cart-2 h2{
    font: 600;
    font-size: 1.8rem;
    text-align: right;
    color: rgb(255, 255, 255);
    background: transparent;
    margin-top: 20px;
    margin-right: 53px;
}
.cart-2 p{
    font: 200;
    font-size: 1rem;
    text-align: right;
    background: transparent;
    color: rgba(255, 255, 255, 0.65);
    margin-top: -20px;
    margin-right: 20px;
}

.ellipse{
    height: 50px;
    width: 50px;
    background-color: rgb(230, 83, 60);;
    border-radius: 50%;
    margin-top: -65px;
    margin-left: 10px;
}
.cart-img{
    margin-right: 200px;
    margin-top: 45px;
}
.img-container-1{
    height: 640px;
}

@media screen and (max-width:576px) {
    .get-body-container{
        display: flex;
        flex-direction: column;
    }
    .get-body{
        margin-left: 0px;
        width: 100%;
        height: 100%;
    }
   .btn-div{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
   }
   .cart-1{
    position: absolute;
    top: 920px;
    left: 220px;
   }
   .cart-2{
    position: absolute;
    top: 1100px;
    left: 28px;
   }
}


/* Change your habit Section Style Started here */
.your-habit{
    max-width: 1540px;
    margin-top: 150px;
    font-family: Inter;
}

.text-content{
    text-align: center;
}
.text-content h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font: 900;
    font-size: 3.5rem;
    margin-top: 0px;
}
.text-content p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font: 300;
    font-size: 1rem;
    margin-top: -50px;
    font-family: "Inter", sans-serif;
}
.habit-img-container{
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}
.img-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.img-container>img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.img-container>h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font: 300;
    font-size: 1.5rem;
    text-align: center;
    margin-top:20px;
}
.img-container>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font: 100;
    font-size: 1rem;
    text-align: center;
    margin-top: -10px;
}

@media screen and (max-width:576px) {
   .your-habit{
    display: flex;
    flex-direction:column ;
    max-width: 100%;;
   }
   .habit-img-container {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 100%;
   }
    
    
}

/* Extra mile part style started here */
.extra-mile-section{
    max-width: 1560px;
    /* border: 2px solid red; */
    margin-top: 120px;
}
.extra-mile-container{
    background: transparent;
    /* width: 1060px; */
    display: flex;
    flex-direction: row;
    height: 360px; 
    /* border: 2px solid yellow; */
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin-left: 130px;
    margin-right: 130px;
    justify-content: space-between;
}
.mile-img>img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    margin: 25px 40px 20px 0px;
}
.mile-img{
    background: transparent;
}

.mile-content{
    background: transparent;
    width: 443px;
    height: 290px;
    margin-left: 40px;
    margin-top: -20px;
}
.mile-content h1{
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
}

.mile-content p{
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width:576px) {
    .extra-mile-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .mile-content{
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 0px;
        margin-left: 45px;
    }
    .mile-img{
        justify-content: center;
        align-items: center;
        margin-left: 45px;
        background: transparent;
    }
    
}


/* Excercise part style started here */

.training-exercise-section{
    max-width: 1540px;
    height: 800px;
    display: flex;
    flex-direction: column;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 120px;
}

.train-img-div{
    width: auto;
    height: 800px;
    margin-top: 50px;
   width: auto;
    
}
.training-img{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin: 0px;
  
}
.train-img-box-1 img{
    width: 323px;
    height: 218px;
    margin-left: 0px;
}

.train-img-box-2 img{
    width: 539px;
    height: 256px;
    margin-left: -110px;
}
.train-img-box-3 img{
    width: 388px;
    height: 214px;
    margin-left: 0px;
}
.train-img-box-4 img{
    width: 435px;
    height: 240px;
    margin-top: -35px;
}
.train-img-box-5 img{
    width: 408px;
    height: 219px;
    margin-top: -15px;
}
.train-img-box-6 img{
    width: 410px;
    height: 250px;
    margin-top: -45px;
    margin-left: -20px;
}







.train-text-content>h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    width: auto;
    margin: 0px;
}
.train-text-content>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    width: auto;
    margin: 5px 0px;
}


/* bmi style started here>>>>>>> */

.background-transparent{
    background: transparent;
}

.bmi-cal{
    margin-top: 20px;
    max-width: 1540px;
    height: 600px;
    background: rgb(34, 34, 34);
   
}

.bmi-text-content>h1{
    background: transparent;
    font: 900;
    font-size: 3.8rem;
    text-align: center;
    width: auto;
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: Inter;
}

.bmi-text-content>p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font: 300;
    font-size: 1rem;
    text-align: calc(50%);
    width: 50%;
    margin: 5px 425px;
    background: transparent;
    padding-bottom: 40px;
}


.bmi-chart{
    background: transparent;
    width: 420px;
    margin-top: 30px;
}


.bmi-chart>h1{
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Inter;
    margin: 15px 0px;
    font: 900;
    font-size: 2.5rem;
    
}

.bmi-table
{   margin-top: 40px;
    width: 310px;
    height: 216px;
    

}

.bmi-table th,td{
   background-color: rgb(34, 34, 34);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-table th{
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-family: Inter;
}

.calculate-bmi  {
    background: transparent;
   margin-left: 300px;
   width: 577px;
   height: 96px;
}

.calculate-bmi-content h1 {
    background: transparent;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
}
.calculate-bmi-content p{

    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    margin-top: -20px;
}

.calculate-bmi-form{
    
    width: 577px;
    height: 168px;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    margin-top: 30px;
}
.calculate-bmi-form form>input,select{
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    padding: 12px 40px 12px 20px;
    margin: 3px;
    margin-left: 0px;
    border-radius: 8px;
    border: 1px solid  rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

.background-color{
    background-color: rgb(34, 34, 34);
}

.calculate-bmi>button{
    margin-top: 20px;
}

.bmi-box{
    margin-top: 20px;
    background: rgb(34, 34, 34);
    margin-right: 120px;
    margin-left: 120px;
}


/* Meet Our team section style>>> */


.meet-team{
    max-width: 1540px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 80px;
}

.meet-team h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
}
.meet-team p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.meet-img-div{
    background: rgba(255, 255, 255, 0.1);
    width: 1060px;
    height: 620px;
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-items: center;
    align-items: center;
    border-radius: 18px;
    
}

.box{
    width: 326.67px;
    height: 272px;
    border: 1px solid gray;
    border-radius: 18px;
   background: rgba(0, 0, 0, 0.2);
}

.box h1{
    font-size: medium;
   font-family: Inter;
   text-align: justify;
   margin-top: -70px;
   margin-left: 12px;
}

.box p{
    font-family: Inter;
    text-align: justify;
    margin-left: 12px;
}

.box img {
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
}










/* <<<<<<<footer Style Started here>>>>>>> */
footer {
    background: rgba(255, 255, 255, 0.1);
    max-width: 1540px;
    height: 489px;
}
.footer-container{
    margin: 66px 190px 174px 190px ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background: transparent;

}
footer hr{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: -79px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    
}
footer p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font: 400;
    background: transparent;
}

.footer-text-1{
    width: 600px;
    background: transparent;
    margin-top: 80px;
}

 .footer-text-3{
    width: 181px;
    height: 249px;
    margin-top: 80px;
    background: transparent;
}
.footer-text-2{
    width: 200px;
    height: 249px;
    margin-top: 80px;
    background: transparent;
}

.footer-text-1 h1{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    margin: 0px;
    font-style: italic;
    background: transparent;
}
.footer-text-1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    background: transparent;
}

.footer-text-2 h1,.footer-text-3 h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    background: transparent;
}

.footer-text-2 h5, .footer-text-3 h5{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    background: transparent;
    margin: 10px;
}